#config_version=4
mode:
  start_events: ball_starting
  priority: 700

sound_player:
  multiball_airlock_add_a_ball_started:
    multiball_callout_sound_pool:
      action: play
  airlock_multiball_award_100k_shot:
    target_hit_1:
      action: play

slide_player:
  multiball_airlock_add_a_ball_started:
    airlock_addaball_started_slide:
      target: dmd
      expire: 1
    airlock_multiball_instructions_slide:
      target: lcd
    airlock_miltiball_intro_video_slide:
      target: lcd
      priority: 2
  airlock_stupidestcombination_video_stopped:
    airlock_miltiball_intro_video_slide:
      target: lcd
      action: remove
  mode_airlock_multiball_stopping:
    airlock_multiball_instructions_slide:
      target: lcd
      action: remove
  airlock_multiball_award_100k_shot:
    airlock_addaball_100k_award_slide:
      target: dmd
      expire: 1
  airlock_multiball_gimme_another_ball:
    airlock_addaball_ball_added_slide:
      target: dmd
      expire: 1
  airlock_qualifying_shot_one_ready_hit:
    airlock_one_complete_slide:
      target: dmd
      expire: 1
    airlock_one_complete_slide_king:
      target: lcd
      expire: 800ms
  airlock_qualifying_shot_two_ready_hit:
    airlock_two_complete_slide:
      target: dmd
      expire: 1
    airlock_two_complete_slide_king:
      target: lcd
      expire: 800ms
  airlock_qualifying_shot_three_ready_hit:
    airlock_three_complete_slide:
      target: dmd
      expire: 1
    airlock_three_complete_slide_king:
      target: lcd
      expire: 800ms
  airlock_qualifying_shot_four_ready_hit:
    airlock_four_complete_slide:
      target: dmd
      expire: 1
    airlock_four_complete_slide_king:
      target: lcd
      expire: 800ms
  airlock_qualifying_shot_five_ready_hit:
    airlock_five_complete_slide:
      target: dmd
      expire: 1
    airlock_five_complete_slide_king:
      target: lcd
      expire: 1000ms

slides:
  airlock_miltiball_intro_video_slide:
    widgets:
      - type: video
        video: airlock_stupidestcombination
        width: 1280
        height: 720
  airlock_multiball_instructions_slide:
    widgets:
      - type: image
        image: airlock_multiball_instructions
        anchor_x: left
        anchor_y: bottom
        x: 0
        y: 0
  airlock_one_complete_slide_king:
    widgets:
      - type: video
        video: airlock_king_one
        width: 1280
        height: 720
  airlock_one_complete_slide:
    widgets:
      - type: text
        text: 1
        style: dmd_xl
        anchor_y: center
        anchor_x: center
        y: center
        x: center
        color: ffffff
      - type: image
        image: planet_druidia
        anchor_y: bottom
        anchor_x: left
        y: 0
        x: 0
  airlock_two_complete_slide_king:
    widgets:
      - type: video
        video: airlock_king_two
        width: 1280
        height: 720
  airlock_two_complete_slide:
    widgets:
      - type: text
        text: 2
        style: dmd_xl
        anchor_y: center
        anchor_x: center
        y: center
        x: center
        color: ffffff
      - type: image
        image: planet_druidia
        anchor_y: bottom
        anchor_x: left
        y: 0
        x: 0
  airlock_three_complete_slide_king:
    widgets:
      - type: video
        video: airlock_king_three
        width: 1280
        height: 720
  airlock_three_complete_slide:
    widgets:
      - type: text
        text: 3
        style: dmd_xl
        anchor_y: center
        anchor_x: center
        y: center
        x: center
        color: ffffff
      - type: image
        image: planet_druidia
        anchor_y: bottom
        anchor_x: left
        y: 0
        x: 0
  airlock_four_complete_slide_king:
    widgets:
      - type: video
        video: airlock_king_four
        width: 1280
        height: 720
  airlock_four_complete_slide:
    widgets:
      - type: text
        text: 4
        style: dmd_xl
        anchor_y: center
        anchor_x: center
        y: center
        x: center
        color: ffffff
      - type: image
        image: planet_druidia
        anchor_y: bottom
        anchor_x: left
        y: 0
        x: 0
  airlock_five_complete_slide_king:
    widgets:
      - type: video
        video: airlock_king_five
        width: 1280
        height: 720
  airlock_five_complete_slide:
    widgets:
      - type: text
        text: 5
        style: dmd_xl
        anchor_y: center
        anchor_x: center
        y: center
        x: center
        color: ffffff
      - type: image
        image: planet_druidia
        anchor_y: bottom
        anchor_x: left
        y: 0
        x: 0
  airlock_addaball_started_slide:
    widgets:
      - type: text
        text: AIRLOCK
        style: dmd_xl
        anchor_y: top
        anchor_x: center
        y: top - 1
        x: center
        color: ffffff
      - type: text
        text: MULTIBALL
        style: dmd_xl
        anchor_y: bottom
        anchor_x: center
        y: bottom + 1
        x: center
        color: ffffff
      - type: image
        image: planet_druidia
        anchor_y: bottom
        anchor_x: left
        y: 0
        x: 0
  airlock_addaball_100k_award_slide:
    widgets:
      - type: text
        text: 100,000
        style: dmd_xl
        anchor_y: center
        anchor_x: center
        y: center
        x: center
        color: ffffff
  airlock_addaball_ball_added_slide:
    widgets:
      - type: text
        text: BALL ADDED
        style: dmd_xl
        anchor_y: top
        anchor_x: center
        y: top - 1
        x: center
        color: ffffff
      - type: text
        text: 250,000
        style: dmd_xl
        anchor_y: bottom
        anchor_x: center
        y: bottom + 1
        x: center
        color: ffffff

