#config_version=4

game:
  balls_per_game: 1
  
config:
- portconfig.yaml
- switches.yaml
- coils.yaml
- leds.yaml
- devices.yaml
- keyboard.yaml
- virtual.yaml
- images.yaml
- videos.yaml
- sounds.yaml
- multiballs.yaml

modes:
- base
- skillshot_timing
- bonus
- high_score
- warp_ramp_assetmanager
- warp_ramp_modemanager
- warp_ramp_qualifier
- warp_ramp_multiball
- spinner
- diner
- airlock_assetmanager
- airlock_modemanager
- airlock_qualifier
- airlock_multiball
- pops_base
- air_lanes
- orbit_post_launch_behavior
- orbits_base
- dead_flip
- slings_base
- sbone_assetmanager
- sbone_autoeject
- sbone_modemanager
- sbone_servoactivation
- sbone_qualifier
- sbone_multiball
- schwartz_ring_wizard
- shaker_base


widget_styles:
  dmd_xl:
    font_name: Quadrit
    font_size: 15
    adjust_bottom: 7
    adjust_top: 3
  large_lcd_text:
    font_name: Quadrit
    font_size: 80
      
sound_system:
  buffer: 2048  # previous value was 512
  frequency: 44100
  channels: 1
  master_volume: 1
  tracks:
    voice:
      volume: 0.8
      simultaneous_sounds: 1
    sfx:
      volume: 0.6
      simultaneous_sounds: 8
    music:
      volume: 0.5
      simultaneous_sounds: 1
  enabled: true

servos:
  sbone_lock_servo:
    positions:
      0.6: sbone_lock_servo_open
      0.0: sbone_lock_servo_closed
    reset_position: 0.6
    reset_events: machine_reset_phase_3 game_ending
    number: 13

player_vars:
  game_scoring_multiplier:
    initial_value: 1
  bonus_multiplier:
    initial_value: 1
  pophits:
    initial_value: 0

ball_saves:
  default_save:
    active_time: 10s
    hurry_up_time: 2s
    grace_period: 1s
    enable_events: mode_base_started
    timer_start_events: skillshot_award_step
    auto_launch: yes
    balls_to_save: 1
#balldevice_bd_trough_ball_eject_success
